@use "variables";
@use "colors.css";
@use "transitions";
@use "primevue";
@import 'vue3-carousel/dist/carousel.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

html, body {
  background: #000;
}

#app {
  position: relative;
  min-height: 100dvh;
  width: 100%;
}

html:has(.face-id-page) {
  overflow: hidden;
}

.page-wrapper + .page-wrapper {
  position: absolute !important;
  inset: 0 !important;
}

.primary-gradient {
  //background: linear-gradient(to bottom right in oklab, color-mix(in oklab, var(--primary-500) 20%, transparent) 0%, color-mix(in oklab, var(--primary-500) 10%, transparent) 100%);
}

::-webkit-scrollbar-track {
  background-color: color-mix(in srgb,var(--secondary-400),transparent 84%);
  border-radius: var(--radius-m);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: var(--radius-m);
  background-color: var(--secondary-500);
}

.carousel {
  --vc-pgn-width: 0.8rem;
  --vc-pgn-height: 0.8rem;
  --vc-pgn-margin: 1.2rem;
  --vc-pgn-border-radius: var(--radius-m);
  --vc-pgn-background-color: var(--form-field-bg);
  --vc-pgn-active-color: var(--primary-500);
  .carousel__pagination {
    .carousel__pagination-button {
      transition: var(--transition-fast);
    }
    .carousel__pagination-button--active {
      width: 2.4rem;
    }
  }
}